In [2]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import getpass

import random
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler

In [3]:
%load_ext sql
password = getpass.getpass()  # pwd=internship
connection_string = f'postgresql://internship:{password}@mdhidaea.iptime.org:21212/aiadmin'
%sql $connection_string

 ··········

# Functions

In [19]:
# train dataset과  동일한 기준으로 test dataset까지 scaling
def scaling (train, test):
    scaler = MinMaxScaler()
    cols = list(train.columns)
    cols = cols[6:len(cols)-1]
    print(cols)
    scaler.fit(train[cols])
    scale_tr = train.copy()
    scale_ts = test.copy()
    scale_tr[cols] = scaler.transform(train[cols])
    scale_ts[cols] = scaler.transform(test[cols])
    return scale_tr, scale_ts

In [20]:
# 모든 환자 데이터의 결측치를 처리하기 위한 함수
# (입력: raw table, 출력: interpolation 진행한 table; len(raw)=len(interpolation))
# 각 환자들의 데이터를 불러서 hr 기준으로 정렬 후 interpolatio; interpolation() 전달인자로 들어갈 옵션 생각하기 ex)pad, time...
# 값이 없어 interpolation 이후 채워지지 않은 값에 대해서 제일 최근값(앞/뒤)으로 채우기
def interpolation(sofa_8, stay_id):
    print('# OF NAN BEFORE INTERPOLATION:', sofa_8.isna().sum().sum(), ', len of table',len(sofa_8))
    final = pd.DataFrame(columns=sofa_8.columns)

    list_final = [0 for i in stay_id]
    index = 0
    for s_id in tqdm(stay_id):
        cond = sofa_8['stay_id']==s_id
        temp = sofa_8[cond]
        temp = temp.sort_values(by=['hr'], axis=0)
        temp=temp.set_index('starttime')

        temp.interpolate(inplace=True, method='time')

        temp.fillna(method='pad', inplace=True)
        temp.fillna(method='bfill', inplace=True)
        temp.fillna(0, inplace=True)
        
        list_final[index] = temp
        index+=1
    
    final = pd.concat(list_final)
    print('# OF NAN AFTER INTERPOLATION:', final.isna().sum().sum(), '\n')
    return final

In [21]:
# sum(관찰 시간 ~ 현재 qSOFA 값)을 'event' 컬럼에 저장
# 1시간 단위로만 저장을 함
def check_event(records, duration) :
    records = records.sort_values(by=['hr'], axis=0)
    
    pass_over = (records['is_infection'] == 1).astype(int)
    total_pass_over = (records['is_infection'] == 1).astype(int)
    
    for d in range(1, duration) :
        total_pass_over = total_pass_over + pass_over.shift(d)
    
    records['event'] = (total_pass_over >= duration).astype(int)
    return records

In [22]:
# -- 검사기록은 1시간 마다 값이 존재함 --
# 각 환자의 검사기록을 발병한 시간 기점이 마지막 관찰기록이 되도록 N hours 단위로 추적한 시간을 압축
# (N - prediction_tim - qSOFA interval) 시간 단위의 기록이 1개의 batch가 됨, 발병 기점 이전으로 몇시간 동안의 기록을 학습에서 사용할지 정하는 부분
def in_Nh(all_table, eventstayid, nonstayid, hours): 
    '''
        all_table: 모든 환자의 전체 시간 동안의 검사 기록 
        eventstayid: 발병한 환자 id
        nonstayid: 발병 안 한 환자 id
        hours: (lookback + prediction time + qSOFA interval) 사용될 전체 기록 시간
        
        return: 1시간 단위로 주어진 hour만큼 추적된 검사기록 DataFrame (발병 환자의 경우 hour에서 발병)
    '''
    final = pd.DataFrame(columns=all_table.columns)
    all_id = list(set(all_table['stay_id']))
    random.shuffle(all_id)
    list_final = []
    
    cnt = 0
    cnt2 = 0
    
    #   동일 stay_id별로 뽑아서 정렬 후 감염시간 기준 앞에서 hours만큼 가져오기
    for stay_id in tqdm(all_id):
 
        cond = all_table['stay_id'] == stay_id  
        temp = all_table[cond]  # 해당 stay_id 관찰기록 가져오기 
        temp = temp.sort_values(by=['hr'], axis=0)  # 관찰 시간 기준으로 정렬
#         temp = check_event(temp, 4)  # 해당 환자의 패혈증 발병 여부를 'event'라는 컬럼에 저장
        
        # 32시간 이상 추적 불가능하면 건너뛰기
        if len(temp) < hours: 
            continue
           
        # 발병 안 한 경우
        if stay_id in nonstayid:  
            temp = temp.iloc[:hours]  # 그냥 4개 잘라서 넣기
            cnt += 1
        # 발병한 경우
        else:
            idx = temp.index[temp['is_infection'] == 1].tolist()  # 처음 발병한 시간 가져오기(해당 시간에서 qSOFA 4시간 이상 지속된)
            if len(idx) < 1: # 발병 안 됐으면(지속 안 됐으면)
                continue
            cnt2 += 1 
            hr = temp.loc[idx[0]]['hr']  # 첫번째로 감염된 시간 가져오기
            c1 = temp['hr'] > hr-hours
            c2 = temp['hr'] <= hr
            temp = temp[c1 & c2]
            if len(temp) < hours:  # hours 이상 추적된 기록 없으면
                continue

        list_final.append(temp)
    
    print(cnt, cnt2)
    final = pd.concat(list_final)
    print('LEN OF FINAL TABLE:', len(final))
    print('# OF TOTAL STAY_ID IN FINAL TABLE:', len(set(final['stay_id'])))
    print()
    
    return final

# 1. 데이터 불러오기

In [23]:
sofa = %sql select * from public.sofa_infect 
sofa = df(sofa, columns=['subject_id', 'hadm_id', 'stay_id', 'hr', 'starttime', 'endtime', 'sbp', 'dbp', 'gcs_min', 'respiratory_rate', 
'abp_mean', 'heart_rate', 'temperature', 'hemoglobin', 'hematocrit', 'sao2', 'fio2', 'urine', 'wbc', 'bun',
'bilirubin_max', 'creatinine_max', 'pao2fio2ratio_vent', 'platelet_min', 'dobutamine', 'dopamine', 'epinephrine', 'norepinephrine', 'vasopressin',
'pH', 'potassium', 'bicarbonate', 'lactate', 'icd_event', 'age', 'is_infection'])

 * postgresql://internship:***@mdhidaea.iptime.org:21212/aiadmin
6292951 rows affected.

# 2. Outlier 제거

In [24]:
pd.set_option('display.max_columns', None)
sofa.head()

,subject_id,hadm_id,stay_id,hr,starttime,endtime,sbp,dbp,gcs_min,respiratory_rate,abp_mean,heart_rate,temperature,hemoglobin,hematocrit,sao2,fio2,urine,wbc,bun,bilirubin_max,creatinine_max,pao2fio2ratio_vent,platelet_min,dobutamine,dopamine,epinephrine,norepinephrine,vasopressin,pH,potassium,bicarbonate,lactate,icd_event,age,is_infection
0,13792604,21265775,36018124,446,2164-11-10 23:00:00,2164-11-11 00:00:00,105.0,53.0,4.0,25.000000,72.0,68.0,37.5600000000000000,NaN,NaN,89.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,NaN,NaN,NaN,NaN,1,54,0
1,14986282,26005753,34670421,29,2184-04-28 06:00:00,2184-04-28 07:00:00,NaN,NaN,NaN,15.000000,NaN,81.0,None,NaN,NaN,94.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN,0,45,0
2,14646223,21551781,39570721,148,2170-12-02 18:00:00,2170-12-02 19:00:00,NaN,NaN,NaN,29.000000,NaN,105.0,None,NaN,NaN,96.5,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,7.59,NaN,NaN,1.3,0,65,0
3,10350667,29744098,35968919,304,2124-08-09 22:00:00,2124-08-09 23:00:00,131.0,67.0,NaN,25.666667,NaN,73.0,None,NaN,NaN,99.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN,0,80,0
4,10913472,29471574,36636407,18,2114-09-30 15:00:00,2114-09-30 16:00:00,94.0,50.0,15.0,0.000000,62.0,113.0,37.0000000000000000,NaN,NaN,91.0,NaN,None,NaN,35.0,NaN,2.3,NaN,NaN,0,0,0,1,0,7.17,4.8,19.0,NaN,1,60,0

In [25]:
sofa.loc[sofa['sbp']<50, 'sbp'] = None
sofa.loc[sofa['sbp']>200, 'sbp'] = None

sofa.loc[sofa['dbp']<50, 'dbp'] = None
sofa.loc[sofa['dbp']>100, 'dbp'] = None

sofa.loc[sofa['respiratory_rate']<5, 'respiratory_rate'] = None
sofa.loc[sofa['respiratory_rate']>50, 'respiratory_rate'] = None

sofa.loc[sofa['heart_rate']<30, 'heart_rate'] = None
sofa.loc[sofa['heart_rate']>200, 'heart_rate'] = None

sofa.loc[sofa['hemoglobin']<0, 'hemoglobin'] = None
sofa.loc[sofa['hemoglobin']>21, 'hemoglobin'] = None

sofa.loc[sofa['hematocrit']<15, 'hematocrit'] = None
sofa.loc[sofa['hematocrit']>60, 'hematocrit'] = None

sofa.loc[sofa['sao2']<50, 'sao2'] = None

sofa['bilirubin_max'][sofa['bilirubin_max']>40] = None 

sofa['creatinine_max'][sofa['creatinine_max']>10] = None 

sofa['platelet_min'][sofa['platelet_min']>500] = None 

sofa['pH'][sofa['pH']>8] = None 
sofa['pH'][sofa['pH']<6] = None 

sofa['bicarbonate'][sofa['bicarbonate']>40] = None 
sofa['bicarbonate'][sofa['bicarbonate']<10] = None 

sofa['lactate'][sofa['lactate']>6] = None 

sofa['potassium'][sofa['potassium']>10] = None 
sofa['potassium'][sofa['potassium']<1] = None

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
for i in sofa.columns:
    isna = list(set(sofa['stay_id'][~sofa[i].isna()]))
    summury = len(set(sofa['stay_id']))
    print(i, '\t\t\t', len(set(sofa['stay_id'][~sofa['stay_id'].isin(isna)]))/summury)

subject_id 			 0.0
hadm_id 			 0.0
stay_id 			 0.0
hr 			 0.0
starttime 			 0.0
endtime 			 0.0
sbp 			 0.003031926711012951
dbp 			 0.007475267580600896
gcs_min 			 0.008180974659888395
respiratory_rate 			 0.0008494622250682837
abp_mean 			 0.6227603601719834
heart_rate 			 5.2274598465740535e-05
temperature 			 0.011291313268599956
hemoglobin 			 0.04367542701812622
hematocrit 			 0.041270795488702154
sao2 			 0.0014375514578078648
fio2 			 0.8231942393392491
urine 			 1.0
wbc 			 0.04336177942733178
bun 			 0.039820175381277856
bilirubin_max 			 0.5224846116650766
creatinine_max 			 0.042185600961852615
pao2fio2ratio_vent 			 0.7127249441315229
platelet_min 			 0.054901397038643995
dobutamine 			 0.0
dopamine 			 0.0
epinephrine 			 0.0
norepinephrine 			 0.0
vasopressin 			 0.0
pH 			 0.40576850194069447
potassium 			 0.03910139965237392
bicarbonate 			 0.042368562056482706
lactate 			 0.46797527411492573
icd_event 			 0.0
age 			 0.0
is_infection 			 0.0

# 3. Replace NaN

In [27]:
median_col = {}
for col in sofa.columns[6:-3]:
    # 각 컬럼별 median 저장해두기
    median_col[col] = sofa[col].median()

/usr/local/lib/python3.6/dist-packages/numpy/lib/nanfunctions.py:1111: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

3-1. Interpolation

In [28]:
stay_id = list(set(sofa.stay_id.values))
sofa_1hour = interpolation(sofa, stay_id).reset_index()

  0%|          | 8/76519 [00:00<17:09, 74.29it/s]

# OF NAN BEFORE INTERPOLATION: 101320967 , len of table 6292951

100%|██████████| 76519/76519 [14:01<00:00, 90.97it/s]

# OF NAN AFTER INTERPOLATION: 0

3-2. Imputation

In [29]:
for col in sofa.columns[6:-3]:
    sofa[col].fillna(median_col[col], inplace=True)

# 5. 한 환자당, 발병 24시간 전에 대한 추적기록 갖도록 구성

In [30]:
# 증상이 한번이라도 있는 환자
eventstayid = list(set(sofa['stay_id'][sofa['is_infection'] == 1]))

# 증상이 한번도 없는 환자
nonstayid = list(set(sofa['stay_id']))
for e in eventstayid:
    nonstayid.remove(e)

print('All:', len(set(sofa['stay_id'])))
print('Symtom:', len(eventstayid))
print('Never:', len(nonstayid))

# N시간 단위로 자르기 (in_Nh 함수)
sofa_1h24 = in_Nh(sofa, eventstayid, nonstayid, 24)

  0%|          | 0/76519 [00:00<?, ?it/s]

All: 76519
Symtom: 4158
Never: 72361

100%|██████████| 76519/76519 [10:52<00:00, 117.33it/s]

54550 4033
LEN OF FINAL TABLE: 1335648
# OF TOTAL STAY_ID IN FINAL TABLE: 55652

In [31]:
print('All:', len(set(sofa_1h24['stay_id'])))
print('Event:', len(set(sofa_1h24['stay_id'][sofa_1h24['is_infection'] == 1])))
print('Nonevent:', len(set(sofa_1h24['stay_id']))-len(set(sofa_1h24['stay_id'][sofa_1h24['is_infection'] == 1])))

print('LEN OF total TABLE:', len(sofa_1h24))
print('# OF TOTAL STAY_ID IN total TABLE:', len(set(sofa_1h24['stay_id'])))

All: 55652
Event: 1102
Nonevent: 54550
LEN OF total TABLE: 1335648
# OF TOTAL STAY_ID IN total TABLE: 55652

In [32]:
sofa_1h24 = sofa_1h24.sort_values(by=['stay_id', 'hr'], axis=0)
sofa_1h24.head(20)

,subject_id,hadm_id,stay_id,hr,starttime,endtime,sbp,dbp,gcs_min,respiratory_rate,abp_mean,heart_rate,temperature,hemoglobin,hematocrit,sao2,fio2,urine,wbc,bun,bilirubin_max,creatinine_max,pao2fio2ratio_vent,platelet_min,dobutamine,dopamine,epinephrine,norepinephrine,vasopressin,pH,potassium,bicarbonate,lactate,icd_event,age,is_infection
2136146,12466550,23998182,30000153,0,2174-09-29 12:00:00,2174-09-29 13:00:00,124.50,75.5,15.0,11.333333,77.0,102.0,36.0000000000000000,9.5,35.0,100.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
3978554,12466550,23998182,30000153,1,2174-09-29 13:00:00,2174-09-29 14:00:00,141.00,66.5,15.0,16.000000,80.0,85.0,37.2800000000000000,9.5,28.7,97.0,50.0,NaN,10.8,23.0,1.0,1.0,442.0,173.0,0,0,0,0,0,7.30,4.0,24.0,1.3,0,61,0
3438151,12466550,23998182,30000153,2,2174-09-29 14:00:00,2174-09-29 15:00:00,118.00,64.0,15.0,19.000000,77.0,83.0,36.89,9.5,28.7,100.0,50.0,NaN,10.8,23.0,1.0,1.0,526.0,173.0,0,0,0,0,0,7.30,4.0,24.0,2.1,0,61,0
2518415,12466550,23998182,30000153,3,2174-09-29 15:00:00,2174-09-29 16:00:00,116.00,60.0,15.0,11.000000,77.5,87.5,37.5000000000000000,10.8,31.7,100.0,50.0,NaN,17.0,22.0,1.0,0.9,226.0,173.0,0,0,0,0,0,7.39,4.4,19.0,1.7,0,61,0
989079,12466550,23998182,30000153,4,2174-09-29 16:00:00,2174-09-29 17:00:00,111.00,56.0,15.0,20.000000,71.0,103.0,36.89,9.5,28.7,100.0,50.0,NaN,10.8,23.0,1.0,1.0,430.0,173.0,0,0,0,0,0,7.31,4.0,24.0,1.7,0,61,0
1365138,12466550,23998182,30000153,5,2174-09-29 17:00:00,2174-09-29 18:00:00,133.00,63.0,9.0,12.000000,83.0,111.0,36.89,9.5,28.7,99.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2244237,12466550,23998182,30000153,6,2174-09-29 18:00:00,2174-09-29 19:00:00,155.00,68.0,9.0,21.000000,91.0,123.0,36.89,9.5,32.1,96.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
1625355,12466550,23998182,30000153,7,2174-09-29 19:00:00,2174-09-29 20:00:00,122.00,67.0,12.0,21.000000,83.0,128.0,38.2200000000000000,9.5,28.7,98.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2806829,12466550,23998182,30000153,8,2174-09-29 20:00:00,2174-09-29 21:00:00,136.00,67.0,12.0,22.000000,87.0,123.0,36.89,9.5,28.7,96.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
3252851,12466550,23998182,30000153,9,2174-09-29 21:00:00,2174-09-29 22:00:00,108.00,61.0,15.0,17.000000,77.0,124.0,36.89,9.5,28.7,94.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
1110660,12466550,23998182,30000153,10,2174-09-29 22:00:00,2174-09-29 23:00:00,155.50,68.5,12.0,14.500000,94.5,114.0,36.89,9.5,28.7,97.5,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2500334,12466550,23998182,30000153,11,2174-09-29 23:00:00,2174-09-30 00:00:00,118.00,64.0,14.0,13.000000,83.0,116.0,37.5000000000000000,9.5,28.7,95.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
3971089,12466550,23998182,30000153,12,2174-09-30 00:00:00,2174-09-30 01:00:00,110.00,57.0,14.0,13.000000,76.0,109.0,36.89,9.5,30.1,94.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
732343,12466550,23998182,30000153,13,2174-09-30 01:00:00,2174-09-30 02:00:00,123.00,60.0,14.0,13.000000,81.0,100.0,36.89,9.5,28.7,96.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2988897,12466550,23998182,30000153,14,2174-09-30 02:00:00,2174-09-30 03:00:00,145.00,66.0,15.0,10.000000,91.0,100.0,37.2200000000000000,9.5,28.7,95.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
154507,12466550,23998182,30000153,15,2174-09-30 03:00:00,2174-09-30 04:00:00,161.00,69.0,14.0,11.000000,97.0,109.0,36.89,9.8,29.1,95.0,50.0,NaN,15.2,22.0,1.0,1.1,226.0,162.0,0,0,0,0,0,7.39,4.8,23.0,1.7,0,61,0
318381,12466550,23998182,30000153,16,2174-09-30 04:00:00,2174-09-30 05:00:00,140.00,62.0,15.0,11.000000,87.0,105.0,37.5000000000000000,9.5,28.7,93.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
1916367,12466550,23998182,30000153,17,2174-09-30 05:00:00,2174-09-30 06:00:00,148.25,78.0,15.0,11.000000,93.0,115.0,36.89,9.5,28.7,92.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2873539,12466550,23998182,30000153,18,2174-09-30 06:00:00,2174-09-30 07:00:00,137.00,68.0,15.0,10.000000,87.0,106.0,36.89,9.5,28.7,95.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0
2525669,12466550,23998182,30000153,19,2174-09-30 07:00:00,2174-09-30 08:00:00,164.50,75.0,15.0,19.000000,99.0,115.0,36.89,9.5,28.7,93.0,50.0,NaN,10.8,23.0,1.0,1.0,226.0,173.0,0,0,0,0,0,7.39,4.0,24.0,1.7,0,61,0

In [33]:
sofa_1h24.to_csv('./sofa/sofa_total.csv',index=False)

In [34]:
sofa_1h24.isna().sum()

subject_id                  0
hadm_id                     0
stay_id                     0
hr                          0
starttime                   0
endtime                     0
sbp                         0
dbp                         0
gcs_min                     0
respiratory_rate            0
abp_mean                    0
heart_rate                  0
temperature                 0
hemoglobin                  0
hematocrit                  0
sao2                        0
fio2                        0
urine                 1335648
wbc                         0
bun                         0
bilirubin_max               0
creatinine_max              0
pao2fio2ratio_vent          0
platelet_min                0
dobutamine                  0
dopamine                    0
epinephrine                 0
norepinephrine              0
vasopressin                 0
pH                          0
potassium                   0
bicarbonate                 0
lactate                     0
icd_event                   0
age                         0
is_infection                0
dtype: int64

# 6. train, test split and scaling

In [12]:
sofa_1h24 = pd.read_csv('./sofa/sofa_total.csv')

In [35]:
# qsofa_1h24 = qsofa_1h24.drop(['icd_event', 'sbp_score', 'gcs_score', 'rr_score', 'qsofa_score'], axis=1)
sofa_1h24 = sofa_1h24.drop(['urine'], axis=1)
train_val_1h = sofa_1h24[:int((len(sofa_1h24) / 24)*.8)*24]
test_1h = sofa_1h24[int((len(sofa_1h24) / 24)*.8)*24:]

train_val_1h, test_1h = scaling(train_val_1h, test_1h)

['sbp', 'dbp', 'gcs_min', 'respiratory_rate', 'abp_mean', 'heart_rate', 'temperature', 'hemoglobin', 'hematocrit', 'sao2', 'fio2', 'wbc', 'bun', 'bilirubin_max', 'creatinine_max', 'pao2fio2ratio_vent', 'platelet_min', 'dobutamine', 'dopamine', 'epinephrine', 'norepinephrine', 'vasopressin', 'pH', 'potassium', 'bicarbonate', 'lactate', 'icd_event', 'age']

In [36]:
train_val_1h

,subject_id,hadm_id,stay_id,hr,starttime,endtime,sbp,dbp,gcs_min,respiratory_rate,abp_mean,heart_rate,temperature,hemoglobin,hematocrit,sao2,fio2,wbc,bun,bilirubin_max,creatinine_max,pao2fio2ratio_vent,platelet_min,dobutamine,dopamine,epinephrine,norepinephrine,vasopressin,pH,potassium,bicarbonate,lactate,icd_event,age,is_infection
2136146,12466550,23998182,30000153,0,2174-09-29 12:00:00,2174-09-29 13:00:00,0.496667,0.510000,1.0,0.140741,0.004589,0.428571,0.683473,0.410526,0.450450,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,0.0,0.0,0.676190,0.318182,0.466667,0.283333,0.0,0.511905,0
3978554,12466550,23998182,30000153,1,2174-09-29 13:00:00,2174-09-29 14:00:00,0.606667,0.330000,1.0,0.244444,0.004673,0.327381,0.755182,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.250744,0.339394,0.0,0.0,0.0,0.0,0.0,0.590476,0.318182,0.466667,0.216667,0.0,0.511905,0
3438151,12466550,23998182,30000153,2,2174-09-29 14:00:00,2174-09-29 15:00:00,0.453333,0.280000,1.0,0.311111,0.004589,0.315476,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.300774,0.339394,0.0,0.0,0.0,0.0,0.0,0.590476,0.318182,0.466667,0.350000,0.0,0.511905,0
2518415,12466550,23998182,30000153,3,2174-09-29 15:00:00,2174-09-29 16:00:00,0.440000,0.200000,1.0,0.133333,0.004603,0.342262,0.767507,0.478947,0.376126,0.000005,0.367089,0.000017,0.000021,0.022556,0.080808,0.122096,0.339394,0.0,0.0,0.0,0.0,0.0,0.676190,0.363636,0.300000,0.283333,0.0,0.511905,0
989079,12466550,23998182,30000153,4,2174-09-29 16:00:00,2174-09-29 17:00:00,0.406667,0.120000,1.0,0.333333,0.004420,0.434524,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.243597,0.339394,0.0,0.0,0.0,0.0,0.0,0.600000,0.318182,0.466667,0.283333,0.0,0.511905,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572997,16433790,25597645,37979196,19,2180-02-04 06:00:00,2180-02-04 07:00:00,0.293333,0.160000,1.0,0.244444,0.004589,0.285714,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,1.0,0.0,0.676190,0.318182,0.466667,0.283333,1.0,0.773810,0
1776136,16433790,25597645,37979196,20,2180-02-04 07:00:00,2180-02-04 08:00:00,0.293333,0.060000,1.0,0.333333,0.004589,0.255952,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,1.0,0.0,0.676190,0.318182,0.466667,0.283333,1.0,0.773810,0
2946324,16433790,25597645,37979196,21,2180-02-04 08:00:00,2180-02-04 09:00:00,0.220000,0.020000,1.0,0.266667,0.004589,0.279762,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,1.0,0.0,0.676190,0.318182,0.466667,0.283333,1.0,0.773810,0
3457333,16433790,25597645,37979196,22,2180-02-04 09:00:00,2180-02-04 10:00:00,0.293333,0.080000,1.0,0.288889,0.004589,0.297619,0.742857,0.410526,0.308559,0.000004,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,1.0,0.0,0.676190,0.318182,0.466667,0.283333,1.0,0.773810,0
2730280,16433790,25597645,37979196,23,2180-02-04 10:00:00,2180-02-04 11:00:00,0.251111,0.026667,1.0,0.320000,0.004589,0.304762,0.733333,0.410526,0.308559,0.000005,0.367089,0.000011,0.000022,0.022556,0.090909,0.122096,0.339394,0.0,0.0,0.0,1.0,0.0,0.676190,0.318182,0.466667,0.283333,1.0,0.773810,0

In [37]:
train_1h = train_val_1h[:int((len(train_val_1h) / 24)*.8)*24]
valid_1h = train_val_1h[int((len(train_val_1h) / 24)*.8)*24:]

# 7. CSV로 저장
1시간 단위로 자른 데이터: lookback(16) + prediction time(4) + qSOFA interval(4) = 총 24시간

In [38]:
train_1h.to_csv('./sofa/sofa_train.csv',index=False)
valid_1h.to_csv('./sofa/sofa_valid.csv',index=False)
test_1h.to_csv('./sofa/sofa_test.csv',index=False)

In [39]:
print('train\n{0} : {1}\n'.format(len(set(train_1h['stay_id'])), len(set(train_1h['stay_id'][train_1h['is_infection']==1]))))
print('validation\n{0} : {1}\n'.format(len(set(valid_1h['stay_id'])), len(set(valid_1h['stay_id'][valid_1h['is_infection']==1]))))
print('test\n{0} : {1}\n'.format(len(set(test_1h['stay_id'])), len(set(test_1h['stay_id'][test_1h['is_infection']==1]))))

train
35616 : 695

validation
8905 : 204

test
11131 : 203

In [18]:
test_1h

,subject_id,hadm_id,stay_id,hr,starttime,endtime,sbp,dbp,gcs_min,respiratory_rate,...,epinephrine,norepinephrine,vasopressin,pH,potassium,bicarbonate,lactate,icd_event,age,is_infection
5034360,10813665,26936609,37959296,318,2174-08-17 20:00:00,2174-08-17 21:00:00,0.460000,0.10,1.0,0.488889,...,0.0,1.0,0.0,0.740741,0.333333,0.466667,0.283333,1.0,0.833333,0
5034361,10813665,26936609,37959296,319,2174-08-17 21:00:00,2174-08-17 22:00:00,0.413333,0.02,1.0,0.511111,...,0.0,1.0,0.0,0.740741,0.333333,0.466667,0.283333,1.0,0.833333,0
5034362,10813665,26936609,37959296,320,2174-08-17 22:00:00,2174-08-17 23:00:00,0.326667,0.28,1.0,0.577778,...,0.0,1.0,0.0,0.740741,0.333333,0.466667,0.283333,1.0,0.833333,0
5034363,10813665,26936609,37959296,321,2174-08-17 23:00:00,2174-08-18 00:00:00,0.340000,0.28,1.0,0.377778,...,0.0,1.0,0.0,0.740741,0.333333,0.466667,0.283333,1.0,0.833333,0
5034364,10813665,26936609,37959296,322,2174-08-18 00:00:00,2174-08-18 01:00:00,0.320000,0.28,1.0,0.600000,...,0.0,1.0,0.0,0.740741,0.333333,0.466667,0.283333,1.0,0.833333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6292946,17840864,22695803,39999810,106,2115-12-05 11:00:00,2115-12-05 12:00:00,0.666667,0.40,1.0,0.288889,...,0.0,0.0,0.0,0.740741,0.333333,0.466667,0.283333,0.0,0.440476,0
6292947,17840864,22695803,39999810,107,2115-12-05 12:00:00,2115-12-05 13:00:00,0.453333,0.28,1.0,0.311111,...,0.0,0.0,0.0,0.740741,0.333333,0.466667,0.283333,0.0,0.440476,0
6292948,17840864,22695803,39999810,108,2115-12-05 13:00:00,2115-12-05 14:00:00,0.453333,0.28,1.0,0.222222,...,0.0,0.0,0.0,0.740741,0.333333,0.466667,0.283333,0.0,0.440476,0
6292949,17840864,22695803,39999810,109,2115-12-05 14:00:00,2115-12-05 15:00:00,0.600000,0.70,1.0,0.311111,...,0.0,0.0,0.0,0.740741,0.333333,0.466667,0.283333,0.0,0.440476,0
6292950,17840864,22695803,39999810,110,2115-12-05 15:00:00,2115-12-05 16:00:00,0.453333,0.28,1.0,0.266667,...,0.0,0.0,0.0,0.740741,0.333333,0.466667,0.283333,0.0,0.440476,0

In [19]:
event = list(set(train_1h['stay_id'][train_1h['event']==1]))
train_1h[~train_1h['stay_id'].isin(event)]

,starttime,subject_id,hadm_id,stay_id,hr,endtime,sbp,gcs_min,respiratory_rate,abp_mean,heart_rate,SaO2,fio2,event
637855,2184-05-30 18:00:00,17118282,23594879,30815107,0,2184-05-30 19:00:00,0.414894,1.0,0.109780,0.097744,0.470660,0.975000,0.0,0
637856,2184-05-30 19:00:00,17118282,23594879,30815107,1,2184-05-30 20:00:00,0.443262,1.0,0.098802,0.097744,0.452323,0.985000,0.0,0
637857,2184-05-30 20:00:00,17118282,23594879,30815107,2,2184-05-30 21:00:00,0.432624,1.0,0.077844,0.097744,0.457213,0.930000,0.0,0
637858,2184-05-30 21:00:00,17118282,23594879,30815107,3,2184-05-30 22:00:00,0.460993,1.0,0.104790,0.097744,0.486553,0.973333,0.0,0
637859,2184-05-30 22:00:00,17118282,23594879,30815107,4,2184-05-30 23:00:00,0.368794,1.0,0.098802,0.097744,0.491443,0.970000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227221,2169-03-20 18:00:00,13912736,27557113,34104101,19,2169-03-20 19:00:00,0.567376,1.0,0.143713,0.097744,0.430318,0.990000,0.0,0
1227222,2169-03-20 19:00:00,13912736,27557113,34104101,20,2169-03-20 20:00:00,0.574468,1.0,0.119760,0.097744,0.440098,0.950000,0.0,0
1227223,2169-03-20 20:00:00,13912736,27557113,34104101,21,2169-03-20 21:00:00,0.631206,1.0,0.125749,0.097744,0.449878,0.980000,0.0,0
1227224,2169-03-20 21:00:00,13912736,27557113,34104101,22,2169-03-20 22:00:00,0.687943,1.0,0.173653,0.097744,0.459658,1.000000,0.0,0
1227225,2169-03-20 22:00:00,13912736,27557113,34104101,23,2169-03-20 23:00:00,0.641844,1.0,0.125749,0.097744,0.449878,1.000000,0.0,0

In [20]:
train_1h.describe()

,subject_id,hadm_id,stay_id,sbp,gcs_min,respiratory_rate,abp_mean,heart_rate,SaO2,fio2,event
count,2.808240e+05,2.808240e+05,2.808240e+05,280824.000000,280824.000000,280824.000000,280824.000000,280824.000000,280824.000000,280824.000000,280824.000000
mean,1.502041e+07,2.496904e+07,3.502070e+07,0.438791,0.986286,0.106743,0.178705,0.403469,0.967908,0.089974,0.005651
std,2.886220e+06,2.889636e+06,2.881392e+06,0.072552,0.061634,0.031232,0.105405,0.085551,0.031771,0.213309,0.074962
min,1.000188e+07,2.000081e+07,3.000166e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.253225e+07,2.245617e+07,3.251420e+07,0.387538,1.000000,0.084830,0.097744,0.342298,0.950000,0.000000,0.000000
50%,1.502556e+07,2.491327e+07,3.507043e+07,0.432624,1.000000,0.101796,0.097744,0.396088,0.970000,0.000000,0.000000
75%,1.752136e+07,2.748300e+07,3.751074e+07,0.482270,1.000000,0.122754,0.283208,0.459658,0.990000,0.000000,0.000000
max,1.999929e+07,2.999983e+07,3.999938e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# 4시간 단위로 자른 데이터 - 24시간까지 확인

In [ ]:
# qsofa_final['event'] = 0

# 증상이 한번이라도 있는 환자
eventstayid = list(set(qsofa_4['stay_id'][qsofa_4['qsofa_score'] >= 2]))

# 증상이 한번도 없는 환자
nonstayid = list(set(qsofa_4['stay_id']))
for e in eventstayid:
    nonstayid.remove(e)

print('All:', len(set(qsofa_4['stay_id'])))
print('Symtom:', len(eventstayid))
print('Never:', len(nonstayid))
    
qsofa_4h = in_32h(qsofa_4, eventstayid, nonstayid)

print('All:', len(set(qsofa_4h['stay_id'])))
print('Event:', len(set(qsofa_4h['stay_id'][qsofa_4h['event'] == 1])))
print('Nonevent:', len(set(qsofa_4h['stay_id']))-len(set(qsofa_4h['stay_id'][qsofa_4h['event'] == 1])))

print('LEN OF total TABLE:', len(qsofa_4h))
print('# OF TOTAL STAY_ID IN total TABLE:', len(set(qsofa_4h['stay_id'])))

In [ ]:
qsofa = df(qsofa, columns=['stay_id', 'hr', 'starttime', 'endtime', 'sbp', 'gcs_min', 'respiratory_rate'])
qsofa['hr'] = pd.Series(qsofa['hr']/4, dtype='int32')
qsofa_4 = qsofa.groupby(by=['stay_id', 'hr']).agg({'starttime': 'min', 'endtime': 'max', 'sbp':'mean', 'gcs_min':'min', 'respiratory_rate':'mean'}).reset_index()
qsofa_4 = qsofa_4.reset_index()
qsofa_4['sbp_score'] = pd.Series(qsofa_4['sbp']<=100, dtype='int32')
qsofa_4['gcs_score'] = pd.Series(qsofa_4['gcs_min']<=14, dtype='int32')
qsofa_4['rr_score'] = pd.Series(qsofa_4['respiratory_rate']>=22, dtype='int32')
qsofa_4['qsofa_score'] = qsofa_4['sbp_score'] + qsofa_4['gcs_score'] + qsofa_4['rr_score']
qsofa_4['is_qsofa'] = pd.Series(qsofa_4['qsofa_score']>=2, dtype='int32')

qsofa_4 = count_score(qsofa_4, stay_id)

qsofa_4['2hours_qsofa'] = pd.Series(qsofa_4['cum_qsofa']>=2, dtype='int32')
qsofa_4 = qsofa_4.drop(['is_qsofa', 'cum_qsofa'], axis=1)

In [ ]:
qsofa_4h['event'] = pd.Series(qsofa_4h['event'], dtype='int32')
qsofa_1h['event'] = pd.Series(qsofa_1h['event'], dtype='int32')

In [ ]:
qsofa_final.to_csv('./qsofa_final_1.csv',index=False)
qsofa_4.to_csv('./qsofa_final_4.csv',index=False)