In [78]:
import pandas as pd
import os
from tqdm.notebook import tqdm
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import getpass
from pandas import DataFrame as df

In [47]:
dirlist = os.listdir('./01_sepsis/')
param_list = {}

for d in dirlist:
    if '.csv' not in d:
        continue
    param_list[d.split('.')[0]] = pd.read_csv('./01_sepsis/'+d)

param_keys = param_list.keys()

In [48]:
param_keys = list(param_keys)

['respir_rate',
 'heart_rate',
 'blood_oxy_satur',
 'sys_blood_pressure',
 'patinfo',
 'temperature',
 'pH_value',
 'wbc_count',
 'CO2_part_press',
 'dias_blood_pressure']

In [71]:
pat_data = pd.read_csv('./sepsis_data.csv')
temp = pat_data.groupby(by=['subject_id', 'hadm_id', 'chartdate']).count()
temp = temp[temp['y']>1].reset_index()

        subject_id     hadm_id   chartdate  seq_num  y
0       10000635.0  26134563.0  2136-06-19        3  3
1       10000724.0  20823482.0  2145-04-24        4  4
2       10000724.0  20823482.0  2145-04-25        2  2
3       10000935.0  29541074.0  2183-10-30        2  2
4       10000980.0  26913865.0  2189-06-30        7  7
...            ...         ...         ...      ... ..
169013  19999784.0  21739106.0  2119-09-05        2  2
169014  19999828.0  25744818.0  2149-01-08        2  2
169015  19999828.0  29734428.0  2147-07-27        3  3
169016  19999840.0  21033226.0  2164-09-12        2  2
169017  19999840.0  26071774.0  2164-07-25        2  2

[169018 rows x 5 columns]

In [72]:
sub_list = temp.subject_id.values
had_list = temp.hadm_id.values
date_list = temp.chartdate.values

dup_df = df({'subject_id':sub_list, 'hadm_id':had_list, 'chartdate':date_list})

        subject_id     hadm_id   chartdate
0       10000635.0  26134563.0  2136-06-19
1       10000724.0  20823482.0  2145-04-24
2       10000724.0  20823482.0  2145-04-25
3       10000935.0  29541074.0  2183-10-30
4       10000980.0  26913865.0  2189-06-30
...            ...         ...         ...
169013  19999784.0  21739106.0  2119-09-05
169014  19999828.0  25744818.0  2149-01-08
169015  19999828.0  29734428.0  2147-07-27
169016  19999840.0  21033226.0  2164-09-12
169017  19999840.0  26071774.0  2164-07-25

[169018 rows x 3 columns]

In [81]:
length_list = [i for i in range(len(dup_df))]
length_list[:5]

[0, 1, 2, 3, 4]

In [88]:
check = 0
length = len(dup_df)

for i in tqdm(length_list):
    dup_row = dup_df.loc[i,:]
    temp = pat_data[pat_data['subject_id'] == dup_row['subject_id']]
    temp = temp[temp['hadm_id'] == dup_row['hadm_id']]
    temp = temp[temp['chartdate'] == dup_row['chartdate']]
    
    if sum(temp.y.values) > 0:
        temp['y'] = 1

  0%|          | 0/169018 [00:00<?, ?it/s]

In [92]:
dup_row = dup_df.loc[9,:]
sub_temp = pat_data[pat_data['subject_id'] == dup_row['subject_id']]
sub_temp = sub_temp[sub_temp['hadm_id'] == dup_row['hadm_id']]
sub_temp = sub_temp[sub_temp['chartdate'] == dup_row['chartdate']]

pat_data.drop_duplicates(subset=['subject_id', 'hadm_id', 'chartdate'], inplace=True)

In [99]:
raw_data = pd.read_csv('./sepsis_data.csv')
pat_data[pat_data['y']==1]
pat_data.to_csv('./my_data/sepsis_dupdrop_data.csv', index=False)

In [104]:
%load_ext sql
password = getpass.getpass()
connection_string = f'postgresql://internship:{password}@mdhidaea.iptime.org:21212/aiadmin'
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

 ··········

In [106]:
patinfo = %sql select subject_id, gender, anchor_age, anchor_year as age from core.patients
patinfo = df(patinfo)
patinfo.columns = ["subject_id", "gender", "age", "anchor_year"]

 * postgresql://internship:***@mdhidaea.iptime.org:21212/aiadmin
382278 rows affected.

In [108]:
merge_data = pd.merge(pat_data, patinfo, left_on=['subject_id'], right_on=['subject_id'], how='left')

In [112]:
merge_data['year'] = merge_data['chartdate'].map(lambda x: int(x[:4]))

In [114]:
merge_data['real_age'] = merge_data.apply(lambda x: x['year']-x['anchor_year']+x['age'],axis=1)

In [117]:
merge_data = merge_data.drop(['anchor_year', 'year', 'age', 'gender'], axis=1)

In [124]:
col_list = list(merge_data.columns)
col_list[-1] = 'age'
merge_data.columns = col_list

In [128]:
merge_data = merge_data[merge_data['age']>18]

In [130]:
merge_data.to_csv('./my_data/sepsis_merged_data.csv', index=False)